extends ../_base

block title
  | バイブ

block demo
  button#js-vibe.mdl-button.mdl-button--raised.mdl-button--primary 5秒バイブ

block code
  pre code

block spec
  +specTable('location')

block scripts
  script(src="./main.js")