extends ../_base

block content
  .container
    .js-log
    h1 プッシュ通知
    p
      button.js-push-button.mdl-button.mdl-button--raised.mdl-button--primary(disabled="") プッシュ通知有効化
    h2 Push送信コマンド
    .js-curl-command